<button type="button" id="button-almighty" class="btn btn-secondary" onclick="showAnswer()">
  What is the answer to the ultimate question of life, the universe and everything?
</button>
<div id="answer-almighty" class="answer"></div>

<script>
  function showAnswer() {
    document.getElementById("answer-almighty").innerHTML = "42";
  }
</script>
